.navbar {
    background-color: rgb(224, 179, 202);

    padding: 1rem 2rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}

.nav-links {
    color: black;
    text-decoration: none;
    margin-left: 2rem;
    font-weight: 600;
    transition: color 0.3s ease;
}

.nav-links:hover {
    color: #721f4dff;
}

.button-cerrar-sesion {
    background: #721f4d;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 8px;
    margin-left: 1rem;
    cursor: pointer;
}