.socio-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.8rem 0;
  border-bottom: 1px dashed #eee;
}
.socio-item:last-child {
  border-bottom: none;
}
.socio-item span {
  flex-grow: 1;
  margin-right: 1rem;
  color: #000;
}
.socio-item div button {
  margin-left: 0.5rem; /* Separar los botones */
}
.socio-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.8rem 0;
  border-bottom: 1px dashed #eee;
}
.socio-item:last-child {
  border-bottom: none;
}
.socio-item span {
  flex-grow: 1;
  margin-right: 1rem;
  color: #000;
}
.socio-item div button {
  margin-left: 0.5rem; /* Separar los botones */
}
