.ExpBox {
    display: flex;
    width: 600px;
    margin-left: 15%;
    margin-top: 10%;
    flex-direction: column;
}

.AvatarStyle {
    width: 80px;
    border-radius: 50px;
    border: 2px solid white;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.AvatarStyle:hover {
    box-shadow: 0 4px 15px rgb(150, 150, 150);
    transform: scale(1.1);
}

.buttonLinkedin {
    width: 100px;
    color: aliceblue;
    font-weight: 300;
    border: 1px solid white;
    background-color: black;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    transition: box-shadow 0.3s ease, transform 0.3s ease;
}

.buttonLinkedin:hover {
    box-shadow: 0 4px 15px rgb(150, 150, 150);
    transform: scale(1.02);
}

@media (max-width: 768px) {
    .ExpBox {
        padding: 20px;
        margin-left: 0;
        width: 100%;
    }
}