.registrarAuditoriaContainer {
  max-width: 400px;
  margin: 30px auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.registrarAuditoriaContainer h2 {
  text-align: center;
  margin-bottom: 15px;
}

.registrarAuditoriaForm {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.registrarAuditoriaForm label {
  font-weight: bold;
}

.registrarAuditoriaForm input {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.registrarBtn {
  background-color: #2ecc71;
  color: white;
  border: none;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

.registrarBtn:hover {
  background-color: #27ae60;
}
