body{
  margin: 0;
  padding: 0;
}

/* Login */
.login-container{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.container-form{
  background-color: rgb(182, 255, 255);
  padding: 20px;
  border-radius: 15px;
}


/* Header */
.header{
  background-color: rgb(0, 119, 255);
  padding: 10px;
  gap: 100px;
  display: flex;
  justify-content: space-around;
  color: white;
  width: 100%;
  align-items: center;
  position: fixed;
  top: 0;
}

.navbar ul{
  display: flex;
  gap: 50px;
  list-style-type: none;
  font-weight: 500;
  margin: 0;
  padding: 0;
}

.container-bienvenida{
  text-transform: uppercase;
  font-weight: bold;
}

.tabla{
  margin-top: 40px;
}

.navbar ul li a {
  text-decoration: none;
  color: inherit;        /* toma color del li o padre */
  transition: color 0.75s;
}

.navbar ul li a:hover {
  color: rgb(0, 0, 0);  /* color al pasar el mouse */
  cursor: pointer;
}