body {
  margin: 0;
  padding: 0;
  background: linear-gradient(135deg, #34167a, #d10404);
  background-attachment: fixed; 
  font-family: "Poppins", sans-serif;
}

.header {
  align-items: center;
  padding: 2rem;
  text-align: center;
}

.imagenPersonal {
  width: 150px;
  height: 150px;
  border-radius: 50%; 
  object-fit: cover;
}

.nombre {
  font-size: 2rem;
  color: #e2e2e2;
  margin: 0;
}

.Main{
  text-align: center;
  color: #e2e2e2;
}

.footer{
  background-color: black;
  color: white;
}