.socios-list-container {
  margin-top: 0.75rem;
  background-color: #f9f9f9;
  padding: 1rem;
  border-radius: 8px;
  border: 1px solid #eee;
  max-height: 50vh;
  overflow-y: auto;
}
.socios-list {
  list-style: none;
  padding: 0;
  margin: 0;
}
.socios-list-container h3 {
  margin: 0 0 0.5rem 0;
  color: #111;
}
