.tablaContainer {
  width: 90%;
  margin: 20px auto;
  font-family: Arial, sans-serif;
}

.auditoriaTable {
  width: 100%;
  border-collapse: collapse;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.auditoriaTable th,
.auditoriaTable td {
  padding: 12px 15px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.auditoriaTable th {
  background-color: #0077cc;
  color: #fff;
}

.auditoriaTable tr:nth-child(even) {
  background-color: #f9f9f9;
}

.auditoriaTable tr:hover {
  background-color: #e0f0ff;
}

.botonRegistrarAuditoria{
  background-color: rgb(2, 172, 2);
  color: white;
  border-radius: 0.3rem;
  font-weight: bolder;
  padding: 8px 5px;
  display: inline-block;
  cursor: pointer;
  margin-bottom: 10px; 
}